header {
  background-color: #f6e7d5;
  display: flex;
  align-items: center;
}

h1 {
  width: 25%;
}

header nav {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.products {
  background-color: #e5efdb;
}

.contact {
  background-color: #e0eaf5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #fdf2d1;
}

.card img {
  width: 300px;
}

footer img {
  width: 150px;
}
